@{
    ViewData["Title"] = "Juego del Ahorcado";
}

<h1>¡Bienvenido al Ahorcado!</h1>

<p>
    El juego consta de 10 intentos y vas a tener que adivinar
    la palabra ingresando letras.
</p>

<input type="hidden" id="PalabraSec" value="@ViewBag.PalabraSecreta">

<p id="Guion"></p>

<p>
    Intentos restantes:
    <span id="Intentos">10</span>
</p>

<input type="text" id="Letra" maxlength="1">

<button onclick="Cambiar_()">Enviar</button>

<h2 id="Resultado"></h2>